<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Control your Worm</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script>

      var wormId = Math.random();

      function setDirection(dir) {
        var x = new XMLHttpRequest()
        x.open("POST", "/worm-api")
        x.setRequestHeader("Content-type", "application/x-www-form-urlencoded")
        x.send("wormID=" + wormId + "&direction=" + dir)
      }
    </script>
  </head>
  <body class="text-center">
    <table width='100%' height='100%'>
      <tr>
        <td></td>
        <td onclick="setDirection('UP')" style="background-color: red"><center>UP</center></td>
        <td></td>
      </tr>
      <tr>
        <td onclick="setDirection('LEFT')" style="background-color: red"><center>LEFT</center></td>
        <td></td>
        <td onclick="setDirection('RIGHT')" style="background-color: red"><center>RIGHT</center></td>
      </tr>
      <tr>
        <td></td>
        <td onclick="setDirection('DOWN')" style="background-color: red"><center>DOWN</center></td>
        <td></td>
      </tr>
    </table>
  </body>
</html>